@font-face {
  font-family: roboto-light;
  src: url("../myfonts/roboto-font/RobotoLight-aW3R.ttf");
}
@font-face {
  font-family: roboto-black;
  src: url("../myfonts/roboto-font/RobotoBlack-Powx.ttf");
}
@font-face {
  font-family: roboto-italic;
  src: url("../myfonts/roboto-font/RobotoLightItalic-E9nn.ttf");
}


body {
  font-family: roboto-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: roboto-black;
}



* {
  overflow-x: hidden !important;
}







.box {
  background-color: #7170fc;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
}
.theme-text {
  color: #6abf1a;
  opacity: 80%;
}
.theme-bg {
  background-color: #6abf1a;
}
.btn-primary {
  background-color: #6abf1a !important;
  border-color: #6abf1a !important;
}
.btn-outline-primary {
  border-style: solid;
  border-size: 1px;
  border-color: #6abf1a !important;
  color: #6abf1a !important;
  background-color: transparent;
}
.btn-outline-primary:hover, btn-outline-primary:focus {
  background-color: #fff;
  animation-name: clickanim;
  animation-duration: 1.5s;
  box-shadow: 0 0 8px #000 !important;
}




.brand-container {
  color: #6abf1a;
  width: 2rem;
  height: 2rem;
  border: 1px solid #6abf1a;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  
}





.eop-side-nav {
	background-color: #6abf1a;
	font-size: 1.3rem !important;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: -1000px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000;
	transition: all 0.5s linear;
	height: 100vh;
	width: 80%;
	max-width: 600px;
}
@media (min-width: 992px) {
  .eop-side-nav {
    width: 25%;
    margin-left: 0;
  }
}



.eop-nav-link {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #fff;
}
.eop-link-active {
  background-color: #33334a;
}

