@font-face {
  font-family: roboto-light;
  src: url("../myfonts/roboto-font/RobotoLight-aW3R.ttf");
}
@font-face {
  font-family: roboto-black;
  src: url("../myfonts/roboto-font/RobotoBlack-Powx.ttf");
}
@font-face {
  font-family: roboto-italic;
  src: url("../myfonts/roboto-font/RobotoLightItalic-E9nn.ttf");
}


body {
  font-family: roboto-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: roboto-black;
}



* {
  overflow-x: hidden !important;
}



#header {

  padding-top: 50px !important;
  padding-bottom: 50px !important;
}




.box {
  background-color: #7170fc;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
}
.theme-text {
  color: #7170fc;
  opacity: 80%;
}
.theme-bg {
  background-color: #7170fc;
}
.btn-primary {
  background-color: #7170fc !important;
  border-color: #7170fc !important;
}
.btn-outline-primary {
  border-color: #7170fc !important;
  color: #7170fc !important;
}
.btn-outline-primary:hover, btn-outline-primary:focus {
  background-color: #fff;
  animation-name: clickanim;
  animation-duration: 1.5s;
  box-shadow: 0 0 8px #000 !important;
}




.brand-container {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  
}


@keyframes clickanim {
  0% {background-color: #ccc};
  100% {background-color: #fff};
}

